<%= render 'shared/page_title', title: @chef.chefname %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <%= gravatar_for @chef, size: 250 %>
      <div>
        <h5><%= link_to "Return to Chefs Listing", chefs_path, class: "btn btn-warning btn-small" %></h5>
        <h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %></h5>
      </div>
    </div>
    <table><th style="font-size: 2em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Recipes</th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th><%= will_paginate @recipes %></th>
    </table>
    
  <% @recipes.each do |recipe| %>
    <div class="col-md-9 pull-right">
      <div class="well">  
        <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
          <p><%= recipe.summary %></p>
          <p>
            <span class="quiet"><small> Created: <%= time_ago_in_words(recipe.created_at) %> ago<br/></small></span>
            <span class="quiet"><small> Updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
          </p>
      </div>
    </div>
  <% end %>
  </div>
</div>

  
